@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mochiy+Pop+P+One&family=Poppins:wght@100&display=swap');
body{
    margin:0;
    padding:0;
    background: white;
    overflow-x: hidden;
    }
/* .one{
    margin:auto;
    width:100%;
    height:750px;
} */

.one{
    width: 100%;
    background: linear-gradient(115deg, #fff 0%,#fff 50%, #f6b400 50%,#f6b400 100% );

}

.logo{
    float:left;
    padding-top: 20px;
    margin-left: 0;

}
.logo1{
    float: right;
}

.home{
    border-bottom: 5px solid rgb(206, 21, 30);
    /* border-width: 30%; */
    align-items: center;
}

/* .offer{
    background-color: #f7fdf6;
} */
.navbar ul{
    display:block;
    cursor: pointer;
    text-align: center;
    /* padding:20px 160px; */
    /* float:right;  */
    margin-left: 20%;
    margin-top: 3%;
    font-weight: 700;   
}
.navbar ul li {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    margin-bottom: 20px ;
    color:black;
    font-weight:300      ;
    margin-left: 5%;
}
  
/* .navbar ul li a{
   align-items: center;
} */

.first_text{
    margin-top: 15%;
    width:50%;
    /* background: green; */
    height:100%;
}
.first_text p{
    font-family: 'poppins', sans-serif;
    color:#615757

}
.menu {
    width:15%;
    margin-left: 45%;
    padding: 1%;
    margin-bottom: 0;
}
.line{
    border-bottom: 10px solid #f6b400;
    margin-left:50%;
    width: 8%;
    margin-top: 0.2% ;
}


.btn-order{
    margin-top: 20%;
    margin-left: 5%;
    padding: 8px 20px;
    background-color: #fa9529;
    border: 2px solid #fa9529;
    color: #fff;
    border-radius: 27px 27px 0 27px ;
}

.img-burger{
    position: relative;
    bottom: 100%;
    left:45%;
    
    
}

.burger{
    width:50%;
    height:100%;
    background: black;
}
p{
    font-size :20px;
    font-weight:bold;
    font-family:'poppin';

}

h1 {
    font-size:50px;
    padding-right:10px;
}
section{
    position:relative;
    padding-left: 80px;
    height:970px;
    width:100%;
}
.uno{
    width: 100%;
    height:750px;
    background-color: #f7fdf6;
    padding-top: 150px;
    display: flex;
    justify-content: center;
}
.quality-card{
    margin: 550px;
    width:350px;
    background:white;
    height:370px;  
    margin:28px;
    border:1px solid #69222e;
    border-radius: 15px;
    padding:0.6%;
}
.big{
    height:500px;

}
.small{
    margin-top:5%;
}
.quality-image img{   
    height:150px;
    margin-bottom: 15px;
    justify-content:center;
    padding-left: 110px;
    padding-top: 10px;
}
.quality-image p{
    padding:10px;
    text-align:center;
    font-weight:normal;
    font-size: 90%;
    font-family: 'poppins', sans-serif;


}
.quality-image h2{
    text-align: center;
    color:#73313d;
    font-weight:bold;
    font-size: 40;
}

.cards{
    padding-top: 100px;
    width: 80%;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    font-family: sans-serif;
    background: white;
}
.card{
    box-shadow:0 0 3px rgba(0,0,0,0.4);
    border-radius:5%;
    box-shadow: 0 5px 5px 0 grey;
    padding: 5%;
}
.card_image{
    width:100%;
    display: block;
}
.card_content{
    line-height: 1.5;
    font-size: 0.9em;
    padding:15px;
    text-align: center;
}
.card_content h2{
    margin-top:0;
    color:#550312;
    text-transform: uppercase;
}
.card_content p{
    margin-bottom: 0;
}
.pricing{
    padding-left: 10px;
    color:black;
    font-weight:700;
    display: flex;
}

.card .card_info{
    font-size:0.9em;
    margin:8px;
    display: flex;
    
}
.card .card_info p{
    margin-left: 30%;
    border:2px solid white;
    background-color:#e1ebe6;
    padding-left: 10%;
    padding-right: 10%;
    padding-top:5%;
    padding-bottom: 5%;
    border-radius: 25%;
}
.card .card_info h3{
    margin-top: 17%;
    margin-left: 5%;

}


.second{
    margin-top:10%;
}

.section-3{
    width: 100%;
    height:600px;
    background:#f7fdf6;
    display: flex;
}

#decker{
    width:45%;
    margin-top: 5%;
    margin-left: 8%;
    
}
#decker h2{
    font-size:50px;
    font-weight: 800;
}
#decker p{
    margin-left: 2%;

    color:#615757

}
.image_1{
    position:relative;
    bottom:74%;
    right:25%;
}
.image-2{
    position: relative;
    bottom:3%;
    right:20%;

}
.discover{
    width:100%;
    height:750px;
    background:#f6b400;
    display:flex;
}
#discover_1{
    width:50%;

    justify-content: center;}
.app-text{
    margin-top: 30%;
    font-family: 'poppins', sans-serif;
    text-align: justify;
}


.mobile-1{
    float:right;
    margin-top:30%;
    display: flex;
    gap:54px;
}
.stores{
    display: flex;
    gap:7px;
}
.last{
    height:260px;
    background:#f7fdf6;
    margin-top: none;
    display: flex;
}
#last-1{
    justify-content: center;
    padding-top:80px;
    width: 30%;
}
#last-2{
    width:30%;
}
.navbar-2 a{
    list-style: none;
    color: black;
    text-decoration: none;
}
.navbar-2 li{
    margin-bottom: 3px;
    /* margin-right:60%; */
    padding:2%;
    /* padding-right:34px; */
    font-weight: 800;
    font-family:;
}
.navbar-2 ul{
    margin-left: 2%;
}
.navbar-2  h2{
    margin-left: 10%;
    margin-top: 5%;

}
.email-box{
    height:40px;
    display: flex;
    justify-content: center;
}
.tbox,.btn{
    border:none;
    outline:none;
}
.tbox{
    width:260px;
    padding:0 10px;
}
.btn{
    background:#f8c740;
    color: white;
    padding:0 10px;
    cursor:pointer;

}
#last-3{
    margin-top:7%;
}
.tbox{
    border-bottom: 1px solid black;
    border-left: 1px solid black;

    border-top: 1px solid black;

    
}


.copy{
    font-size: 15px;;
    padding-left: 4%;
}
.copy .p{
    font-weight: 400;
    font-family:'Poppins', sans-serif;
    font-weight: 300;
}
.mguu{
    display: flex;
    justify-content: center;
    height: 5%;

}
#fot-1{
    position: relative;
    width:40%;
    font-family: 'poppins', sans-serif;
    right:15%;
}
#fot-2{
    width: 30%;
}
#fot-2  ul{
    list-style: none;
    display: flex;

}
#fot-2  ul li{
    position: relative;
    right:60%;
    padding-left:3%;

}