@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Mochiy+Pop+P+One&display=swap');
body{
    margin:0;
    padding:0;
    background: white;
    }
header{
    margin:auto
}
.logo{
    float:left;
    padding-top: 20px;
    padding-left: 70px;

}

.navbar ul{
    display:block;
    cursor: pointer;
    text-align: center;
    padding:20px 160px;
    float:right; 
    font-weight: 700;   
}
.navbar ul li {
    display: inline-block;
    font-size: 20px;
    list-style: none;
    margin-bottom: 20px ;
    color:black;
    font-weight:300      ;
    padding-left:25px;

}
.first_text{
    padding-top: 300px;
}
p{
    font-size :20px;
    font-weight:bold;

}

h1 {
    font-size:50px;
    padding-right:10px;
}
section{
    position:relative;
    padding-left: 80px;
    height:970px;
    width:100%;
}
.uno{
    width: 100%;
    height:500px;
    background-color: #f7fdf6;
    padding-top: 20px;
}
.cards{
    width: 65%;
    margin:50px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    font-family: sans-serif;
    background: white;
}
.card{
    box-shadow:0 0 3px rgba(0,0,0,0.4);
    border-radius: 15px;
}
.card_image{
    width:100%;
    display: block;
}
.card_content{
    line-height: 1.5;
    font-size: 0.9em;
    padding:15px;
    text-align: center;
}
.card_content h2{
    margin-top:0;
    color:#550312;
    text-transform: uppercase;
}
.card_content p{
    margin-bottom: 0;
}
.pricing{
    padding-left: 10px;
    color:black;
    font-weight:700;
    display: flex;
}
.card_info{
    font-size:0.9em;
    margin:8px;
    display: inline;
    
}
/*.card_info .icon{
    float:right;
}
*/

}
  